/* Estilos Generales / Globales */
body {
  font-family: $font;
}

h2 {
  font-size: 32px;
  color: $color-primary;
  /* reset */
  margin: 0;

  margin-bottom: 20px;
}

h3 {
  font-size: 24px;
  font-weight: 500;
  color: $color-primary;
  /* reset */
  margin: 0;
}

p {
  font-size: 20px;
  color: #666666;
  line-height: 39px;
  /* reset */
  margin: 0;
}

p.small {
  font-size: 16px;
  color: $color-primary;
}
